[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
[gpg]
  format = ssh
[includeIf "env:GIT_PLATFORM=macos"]
  path = ~/.gitconfig.macos
[includeIf "env:GIT_PLATFORM=linux"]
  path = ~/.gitconfig.linux
[include]
  path = ~/.gitconfig.local